@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: Avenir Next
    }
    body {
      @apply text-gray-100 bg-gray-800;   
    }
}


@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    #plus {
      visibility: hidden;
    }

    #parent:hover > #plus {
      visibility: visible;
    }

    #parent:hover #image{
      z-index: -10;
    }
}

